@charset "UTF-8";

//
// tag
//////////////////////////////////////////////////////////////////////
html {
  font-size: 62.5%;
}
body {
  color: $color_lightGray;
  font-family: $fontFamily_japanese;
  background-color: $color_darkGray;
}

//
// contents wrapper
//////////////////////////////////////////////////////////////////////
.contentsWrapper {
  min-height: 100vh;
  padding-bottom: 300px;
  overflow: hidden;
  position: relative;
  @media (max-width: 999px) {
    padding-bottom: 200px;
  }
}
//
// sub contents
//////////////////////////////////////////////////////////////////////
.standaloneContent {
  background-color: #151515;
  margin: 200px 0px -221px;
  padding-bottom: 221px;
  @media (max-width: 999px) {
    margin: 100px 0px -151px;
    padding-bottom: 151px;
  }
}

//
// swiper
//////////////////////////////////////////////////////////////////////
.swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

//
// lazysizes
//////////////////////////////////////////////////////////////////////
.lazyloadImage {
  opacity: 0;
  transition: 1s;
}
.lazyloaded {
  opacity: 1;
}
