@charset "UTF-8";

//
// tag
//////////////////////////////////////////////////////////////////////
html {
  font-size: 62.5%;
}
body {
  color: $color_lightGray;
  font-family: $fontFamily_japanese;
  background-color: $color_darkGray;
}

//
// contents wrapper
//////////////////////////////////////////////////////////////////////
.contentsWrapper {
  min-height: 100vh;
  padding-bottom: 205px;
  position: relative;
  @media (max-width: 999px) {
    padding-bottom: 135px;
  }
}

//
// swiper
//////////////////////////////////////////////////////////////////////
.swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

//
// lazysizes
//////////////////////////////////////////////////////////////////////
.lazyloadImage {
  opacity: 0;
  transition: 1s;
}
.lazyloaded {
  opacity: 1;
}