@charset "UTF-8";

// tag
html {
  font-size: 62.5%;
}
body {
  font-family: $fontFamily_japanese;
  background-color: $color_darkGray;
}

// vue transition
.jsFade {
  &-enter-active,
  &-leave-active {
      transition: 0.3s;
  }
}
.jsFade {
  &-enter,
  &-leave-to {
      opacity: 0;
  }
}