@charset "UTF-8";

//
// color
//////////////////////////////////////////////////////////////////////
$color_darkGray: #252525;
$color_lightGray: #dedede;

//
// font family
//////////////////////////////////////////////////////////////////////
$fontFamily_english: 'Raleway', cursive;

//
// gradient
//////////////////////////////////////////////////////////////////////
$gradient_primary: linear-gradient(45deg, rgba(95,112,119,0.97) 0%, rgba(52,20,20,0.97) 60%, rgba(50,61,99,0.97) 100%);