@charset "UTF-8";

//
// color
//////////////////////////////////////////////////////////////////////
$color_darkGray: #252525;
$color_lightGray: #dedede;

//
// font family
//////////////////////////////////////////////////////////////////////
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/font/NotoSansJP-Light_subset.woff2") format("woff2");
  font-display: swap;
}
$fontFamily_japanese: 'Noto Sans JP', sans-serif;
$fontFamily_english: 'Raleway', cursive;

//
// gradient
//////////////////////////////////////////////////////////////////////
$gradient_primary: linear-gradient(45deg, rgba(95,112,119,1) 0%, rgba(52,20,20,1) 60%, rgba(50,61,99,1) 100%);